[submodule "vimfiles/bundle/mru"]
	path = vimfiles/bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vimfiles/bundle/bufexplorer"]
	path = vimfiles/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vimfiles/bundle/vim-json"]
	path = vimfiles/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/vim-over"]
	path = vimfiles/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "vimfiles/bundle/lightline.vim"]
	path = vimfiles/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vimfiles/bundle/rainbow_parentheses.vim"]
	path = vimfiles/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vimfiles/bundle/vim-clojure-static"]
	path = vimfiles/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
	ignore = untracked
[submodule "vimfiles/bundle/vim-clojure-highlight"]
	path = vimfiles/bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
	ignore = untracked
[submodule "vimfiles/bundle/vim-fireplace"]
	path = vimfiles/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimfiles/bundle/previm"]
	path = vimfiles/bundle/previm
	url = https://github.com/kannokanno/previm.git
[submodule "vimfiles/bundle/open-browser.vim"]
	path = vimfiles/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-commentary"]
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/bundle/vim-vinegar"]
	path = vimfiles/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/PHP-Indenting-for-VIm"]
	path = vimfiles/bundle/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "vimfiles/bundle/vim-syntax-for-PHP"]
	path = vimfiles/bundle/vim-syntax-for-PHP
	url = https://github.com/2072/vim-syntax-for-PHP.git
[submodule "vimfiles/bundle/vim-lucius"]
	path = vimfiles/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/vim-sexp"]
	path = vimfiles/bundle/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule "vimfiles/bundle/vim-sexp-mappings-for-regular-people"]
	path = vimfiles/bundle/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "vimfiles/bundle/vim-swap"]
	path = vimfiles/bundle/vim-swap
	url = https://github.com/machakann/vim-swap.git
	ignore = untracked
[submodule "vimfiles/bundle/Align"]
	path = vimfiles/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vimfiles/bundle/SQLUtilities"]
	path = vimfiles/bundle/SQLUtilities
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule "vimfiles/bundle/dbext.vim"]
	path = vimfiles/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "vimfiles/bundle/vim-projectionist"]
	path = vimfiles/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vimfiles/bundle/vim-abolish"]
	path = vimfiles/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/devdocs.vim"]
	path = vimfiles/bundle/devdocs.vim
	url = https://github.com/rhysd/devdocs.vim.git
[submodule "vimfiles/bundle/vim-tmux-navigator"]
	path = vimfiles/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vimfiles/bundle/investigate.vim"]
	path = vimfiles/bundle/investigate.vim
	url = https://github.com/keith/investigate.vim.git
[submodule "vimfiles/bundle/vim-operator-user"]
	path = vimfiles/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "vimfiles/bundle/vim-operator-replace"]
	path = vimfiles/bundle/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace
[submodule "vimfiles/bundle/rainbow"]
	path = vimfiles/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
