[user]
	name = gpsoft
	email = etoh.gpsoft@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = gvim -f
	autoCRLF = false
	quotepath = false
	pager = less --quit-if-one-screen --no-init
[push]
	default = simple
[merge]
	tool = gvimdiff
[color "branch"]
	upstream = cyan
[alias]
	ll = log --pretty=format:'%C(yellow)%h %cd %C(red)%d%Creset %s' --date=short
	lg = log --pretty=format:'%C(yellow)%h %cd %C(red)%d%Creset %s' --date=short --graph
	ld = log -5 --pretty=format:'%C(yellow)%h%C(cyan)[%ci]%C(red)%d%Creset by %cn%n%s' --numstat
	sd = show --pretty=format:'%C(yellow)%h%C(cyan)[%ci]%C(red)%d%Creset by %cn%n%s' --numstat
	sta = status --short --branch
	co = checkout
	com = commit
