snippet ns "namespace" b
(ns $0
  (:use
    clojure.tools.trace
    [midje.sweet :only (unfinished)]
    )
  (:require
    [clojure.string :as str :refer (split join)]
    )
  (:import
    java.io.File
    java.text.SimpleDateFormat
    [java.util Date Locale]
    )
  (:gen-class))
endsnippet
