snippet lin "link"
[${1:link}](${3:http://$2})$0
endsnippet

snippet img "image"
![${1:image}]($2.${3:png})$0
endsnippet

snippet tab "table"
|     |        |    |
|----:|:-------|:--:|
|     |        |    |
|     |        |    |
|     |        |    |

endsnippet
